<!DOCTYPE html>
<html lang="ar" dir="rtl">

<body  >
    <section class="bg-form-result pt-5 pb-5" style="background-image:url(images/banner_bg.jpg); height: 100%;">
        <div class="container form-box">
            <div class="row align-items-center justify-content-center">
                 <div class="col-lg-6 col-sm-6 col-6">
                <img src="images/20231126120528!.png" alt="" width="195px">
            </div>
            <div class="col-lg-6 col-sm-6 col-6" style="text-align: end;">
                <img src="images/logoo.png" alt="" width="120px">
            </div>
                <div class="col-lg-10 col-sm-12">
                    <div class=" ">
                        <!-- title  -->
                        <div class="image-logo text-center">
                            <h3 class="title-form"> وزاره التعليم العالي والبحث العلمي</h3>
                            <h2 class="title-form22  justify-content-center">
                                مشروع
                            </h2>
                            <h3 class="title-form22  justify-content-center">
                                <span class="shape left"><span class="dots"></span></span>
                                دعم اتخاذ القرار التخصصي لطلاب الهندسة
                                <span class="shape right"><span class="dots"></span></span>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>
            <!-- text  -->
            <div class="row">
                <div class="col-lg-8 col-sm-12 mt-3">
                    <div class="name-backk">
                        <h3 class="title-form">
                            فريق العمل
                        </h3>
                        <div class="all-name  row">
                            <ul class="ul-style-o col-lg-6 col-sm-12">
                                <li>
                                    <i class="far fa-user"></i>

                                    أحمد صديق قاسم
                                </li>
                                <li>
                                    <i class="far fa-user"></i>

                                    مروان شادي سمير 
                                </li>
                                <li>
                                    <i class="far fa-user"></i>
                                    محمد وائل الزغبي

                                </li>
                                <li>
                                    <i class="far fa-user"></i>

                                    محمود حسن العطار
                                </li>
                            </ul>
                            <ul class="ul-style-o col-lg-6 col-sm-12">
                                <li>
                                    <i class="far fa-user"></i>

                                    صالح اسماعيل قطب
                                </li>
                                <li>
                                    <i class="far fa-user"></i>

                                    حنين ياسر الخامي 
                                </li>
                                <li>
                                    <i class="far fa-user"></i>
                                    اسراء سعيد المزاتي
                                </li>

                            </ul>

                        </div>
                    </div>


                </div>
                <div class="col-lg-4 col-sm-12 text-center backkkkk mt-3">
                    <h3 class="title-form">
                   تحت اشراف
                    </h3>
                    <div class="all-name  row">
                        <ul class="ul-style-o col-lg-12 col-sm-12">
                        <h4>
                            أ.د.رفعت فكري 
                        </h4>
                        <h6>
                            بالتعاون مع وحدة تكنولوجيا المعلومات بالمعهد
                        </h6>
                        السيد الاستاذ الدكتور عميد المعهد :
                      <p>
                        أ.د.مفرح حمادة حامد 
                      </p>

                        </ul>


                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <!-- block 1  -->
                    <div class="intro-descr" style="
  margin-top: 22px;
  background: #efefef;
  border: 0px solid #eeaf99;
  padding: 10px 25px;  border-radius: 22px;
  border-right: 6px ridge #ffffff;">
                        <h3 class="title-form">
                             مشروعنا :            
                        </h3>
                        <p>
يهدف مشروعنا الى الدمج بين رغبات الطالب ومهاراته الفنية والأكاديمية وقدراته من خلال نموذج ذكاء اصطناعي يقوم بقياس مدى توافق قدرات الطالب ومهاراته الفنية والأكاديمية مع التخصص هندسي 
                        </p>
                    </div>
                      <!-- block 2  -->
                      <div class="intro-descr" style="  margin-top: 22px;
  background: #efefef;
  border: 0px solid #eeaf99;
  padding: 10px 25px;  border-radius: 22px;
  border-right: 6px ridge #ffffff;">
                        <h3 class="title-form">
                      النتائج المستهدفة :

                        </h3>
                        <p>
                         ضمان نجاح وتفوق الطالب في دراسته والحياة العملية بعد التخرج وارتفاع نسب النجاح والتفوق للطلاب في المؤسسات التعليمية
                        </p>
                    </div>
                      <!-- block 3  -->
                      <div class="intro-descr" style="  margin-top: 22px;
  background: #efefef;
  border: 0px solid #eeaf99;
  padding: 10px 25px;  border-radius: 22px;
  border-right: 6px ridge #ffffff;">
                        <h3 class="title-form">
                       لذا نرجو  :

                        </h3>
                        <p>
                            التعاون معنا من خلال ادخال الاستبيان الآتي بمنتهى الصدق والامانة للمساهمة في خدمة طلاب الأجيال القادمة.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mt-3 ">
<div class="col-lg-12 col-sm-12">
    <a asp-action="Index"  class="theme-btn style-ten"  >  الدخول إلي الإستبيان !  </a>
</div>
            </div>

        </div>
    </section>
    <!-- js file href="login.html" target="_blank"  -->
</body>

</html>