<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

</head>
<body>
    <section class="bg-form-result " style="background-image: url(../images/result.jpg);">
        <div class="container text-center">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7 col-sm-12 ">
                    <div class="content-thanks text-center">
                        <img src="~/images/thankyou-check.png" class="mb-5" alt="">
                        <h4 class="title-form" style="font-size: 25px;">
                            شكرا لك تم استقبال اجابتك بنجاح !
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>